[*]
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.sln]
indent_style = tab

[*.md]
indent_size = 2

[*.json]
indent_size = 2

[*.yml]
indent_size = 2

[*.config]
indent_size = 2

[*.csproj]
indent_size = 2

[*.vbproj]
indent_size = 2

[*.fsproj]
indent_size = 2

[*.slnx]
indent_size = 2
