# Rider
.idea/
.run/

global.json

# Visual Studio
.vs/

# DocFX
/docfx/_site
/docfx/api

# Compilation
[Bb]in/
[Oo]bj/

# Repository
*.temp.*

# Windows
[Dd]esktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
